{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="jumbotron-uhai">
            <a class="active vertical-tabs-cell" href="/account">
              <div class="lnr lnr-user fa-lg icon-left"></div>
              <div class="nav-cell-label icon-middle">Account</div>
              <span class="lnr lnr-chevron-right icon-right fa-lg"></span>
            </a>
            <a class="active vertical-tabs-cell" href="/upload">
              <div class="lnr lnr-upload fa-lg icon-left"></div>
              <div class="nav-cell-label icon-middle">Upload new medical information</div>
              <span class="lnr lnr-chevron-right icon-right fa-lg"></span>
            </a>
            <a class="active vertical-tabs-cell" href="/history">
              <div class="lnr lnr-history fa-lg icon-left"></div>
              <div class="nav-cell-label icon-middle">Medical analysis history</div>
              <span class="lnr lnr-chevron-right icon-right fa-lg"></span>
            </a>
            <a class="active vertical-tabs-cell" href="#account/profile">
              <div class="lnr lnr-book fa-lg icon-left"></div>
              <div class="nav-cell-label icon-middle">Digital wallet</div>
              <span class="lnr lnr-chevron-right icon-right fa-lg"></span>
            </a>
        </div>
    </div>
    <div class="col-md-8">
        {% block segmented_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}